@import url('https://fonts.googleapis.com/css?family=Roboto|Playfair+Display');



body {
	background-color: aliceblue;
  font-family: 'Roboto', sans-serif;
}

nav {
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: #000000;
  margin: 1em;
  display: inline-block;
}


h1  {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;
}

h2  {
  font-size: 1.5em;
  text-align: center;
}

p {
  font-size: 14px;
}


header {
	text-align: center;
}



#notice {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  background-image: url("../images/chicken_tile.jpg");
  background-repeat: repeat;
  padding: 70px;
  line-height: 200%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container>div {
  text-align: left;
  padding:5px 50px;
  font-size: 20px;
  /*font-family: 'Roboto', sans-serif;*/
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px 300px;
}
.grid-container-2>div {
  text-align: center;
  padding:20px 75px;
  font-size: 15px;
/*  font-family: 'Roboto', sans-serif;*/
}


footer {
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  color: #000000;
  margin: 1em;
  display: inline-block;
}
