@import url('https://fonts.googleapis.com/css?family=Roboto|Playfair+Display');



body {
	background-color: aliceblue;
}

h1 h2 h3 h4 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 5px;
}

p {
	font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

nav {
  text-align: center;
  font-style: bold

}

#header {
	text-align: center;
	font-family: 'Roboto', sans-serif;
  background-color: #FFED74;

}

#notice {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  background-image: url("../images/chicken_tile.jpg");
  background-repeat: repeat;
  padding: 70px;
  line-height: 200%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container>div {
  text-align: left;
  padding:5px 30px;
  font-size: 20px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container-2>div {
  text-align: center;
  padding:20px 20px;
  font-size: 15px;
}

#footer {
  text-align: center;
  background-color: #FF957E;
  font-style: bold
}
