body {
	background-color: aliceblue;
}


p {
	font-family: Helvetica, sans-serif;
}

#header {
	text-align: center;
}

#notice {
  text-align: center;
  font-size: 22px;
  background-image: url(images/eggs.jpg);
  background-size: cover
  color: #fff;
  font-family: Helvetica;
}