body {
	background-color: aliceblue;
}


p {
	font-family: Helvetica, sans-serif;
}

#header {
	text-align: center;
}

#notice {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-family: Helvetica;
  background-image: url('/unit_3/images/eggs.jpg');
  background-size: cover;
  padding: 70px;
  line-height: 200%;
}

